@import "../vars.css";

.container {
  margin-top: 78px;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.projects{
  display:flex;
  gap:40px;
  width:200px;
}

.image{
  height:300px;
  width: 350px;
}
/* Styles for each project card */
.contain {
  width: 400px; /* Adjust as needed */
  margin: 10px; /* Adjust as needed */
  /* border: 1px solid #ccc; Add a border for a card-like appearance */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  padding: 15px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}
.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

/* Styles for project descriptions */
.description {
  margin-top: 10px;
  font-style: italic;
}

/* Styles for the list of skills */
.skills {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  margin:auto;
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

/* Styles for project links */
.links {
  margin-top:50px;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

.feedbackContainer {
  margin-top: 20px;
  text-align: center;
}

.feedbackButton {
  margin-left: 35vw;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.feedbackButton:hover {
  background-color: #0056b3;
}

/* Responsive design: Adjust styles for smaller screens */
@media screen and (max-width: 850px) {
  .container {
    flex-direction: column; /* Display cards in a column on smaller screens */
    align-items: center; /* Center cards on smaller screens */
  }

  .contain {
    width: 80%; /* Adjust as needed */
  }
}